<ng-container
  [ngTemplateOutlet]="
    detailweatherdata && detailweatherdata?.length !== 0
      ? detailTemplate
      : noDataTemplate
  "
  [ngTemplateOutletContext]="{ detailweatherdata: detailweatherdata }"
>
</ng-container>

<ng-template #detailTemplate>
  <div *ngFor="let weather of detailweatherdata; let index; trackBy: identify">
    <div class="well flex d-flex my-3 mx-2 p-2 small">
      <div>
        <h3>{{ weather.name }}</h3>
        <h4>Current conditions: {{ weather.name }}</h4>
        <h4>Temperatures today:</h4>
        <p>
          Current {{ weather.main.temp }} - Max {{ weather.main.temp_min }} -
          Min {{ weather.main.temp_max }}
        </p>
        <p>
          <button
            class="
              text-decoration-underline
              border-0
              bg-transparent
              text-primary
            "
            (click)="goToForecast(weather)"
          >
            Show 5-day forecast for Rancho Cordova
          </button>
        </p>
      </div>
      <div>
        <span class="close" (click)="removeWeather(weather.id)">×</span>
        <img [src]="weather.weather?.main" />
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noDataTemplate>
  <div
    class="d-flex p-2 justify-content-center bd-highlight bg-warning mx-3 my-3"
  >
    No Location is added
  </div>
</ng-template>
